.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: 'Inter', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FEFEFE;
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #529196;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0px;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.heading {
  font-size: 48px;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

footer {
  background-color: #82D1D0;
  color: white;
  padding: 15px;
  text-align: center;
}

